# github "stephencelis/SQLite.swift" ~> 0.10.1
github "krzyzanowskim/CryptoSwift" ~> 0.6.0
github "Alamofire/Alamofire" ~> 4.0
github "rs/SDWebImage" ~> 3.8.2
github "jverdi/JVFloatLabeledTextField" ~> 1.1.1
github "skywinder/ActionSheetPicker-3.0" ~> 2.2.0
# Incompatible Obj-C module, available through CocoaPods
# github "peterpaulis/StaticDataTableViewController" ~>2.0.5
# Incompatible Obj-C/Swift module, available through CocoaPods
# github "hackiftekhar/IQKeyboardManager" ~>4.0.5
github "tid-kijyun/Kanna" "swift3.0"
github "radex/SwiftyUserDefaults" ~> 3.0.0
github "mxcl/PromiseKit" ~> 4.0
github "kevin0571/STPopup" ~> 1.8
github "devxoul/UITextView-Placeholder" ~> 1.2
github "MatthewYork/DateTools" ~> 1.7.0
github "mariotaku/ALSLayouts" ~> 2.0.0
github "KyoheiG3/AttributedLabel" ~> 0.5.0
# Incompatible Obj-C/Swift module
# github "kingiol/KDInteractiveNavigationController" ~> 0.1.2
github "Hearst-DD/ObjectMapper" ~> 2.0.0
